<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Users</h3>
    <ul>
      <% users.map(function(user){
      <!-- console.log('logged:', user.value.name)  -->
      %>

      <li>
        <h4><%= user.value.name %></h4>
        <p><%= user.value.email %></p>
        <ul>
          <li><%= user.value.address.street %></li>
          <li><%= user.value.address.city %></li>
          <li><%= user.value.address.state %></li>
        </ul>
      </li>

      <% }) %>
    </ul>
  </body>
</html>
